# Build artifacts
*.o
*.obj
*.exe
*~

# Binaries
wspy
cpu_info
proctree
gpu_smi
amd_smi

# Backup files
*.bak

# Editor / IDE
.vscode/
.idea/

# Misc
.DS_Store
amd_sysfs
test_proctree
test_wspy
libwspy_profiler.so
test_hip_init
test_hip_kernel
doc/.~lock.ROCm Profiler SDK C++ API.docx#
