# configuration file for top-down analysis
command --counterinfo /home/mev/.wspy/haswell
command --perfcounters
command --perfcounter-model core
command --set-counters RESOURCE_STALLS.SB,OFFCORE_REQUESTS_BUFFER.SQ_FULL,L1D_PEND_MISS.FB_FULL,CYCLE_ACTIVITY.STALLS_L1D_PENDING,CYCLE_ACTIVITY.CYCLES_NO_EXECUTE,cpu-cycles

