# configuration file for top-down analysis
command --counterinfo /home/mev/.wspy/haswell
command --processtree
command --processtree-engine ptrace2
command --perfcounters
command --perfcounter-model process
command --set-counters RESOURCE_STALLS.SB,CYCLE_ACTIVITY.STALLS_L1D_PENDING,CYCLE_ACTIVITY.STALLS_L2_PENDING,CYCLE_ACTIVITY.STALLS_LDM_PENDING,CYCLE_ACTIVITY.CYCLES_NO_EXECUTE,cpu-cycles

